# Python

This is a little python demo notebook. Outline for the notebook:

* print statement - how do we interact with the terminal
* data types - numerical, logical and strings
* variables - how do we assign and operate on variables
* control flow - conditional statements and loops
* libraries - how do we import and reuse the libraries
* little program example

## Interaction with the terminal
Jupyter Notebook is one way of creating a medium/an environment between a person and computer - the other is terminal. We concentrate on Jupyter Notebook. In Jupyter Notebook you can switch between code(python code) and markdowns(notes for your code). 
All you have to know is how to speak the Python language.

In [1]:
print("Hello")

Hello

In Jupyter Notebook we can ommit the print statement - it understands us and implicitly executes print statement on a given statement. 

_NOTE 1! By ommitting we also should take into consideration the fact that only the last statement executes!_

In [2]:
"Hello"

'Hello'

What did you notice above? We put 2 `"` marks. Why? Well, data types.

In Python language we have to differentiate the data types. Simplest data types are numerical, logical and strings(strings are the words in our language). Let us switch to code and demonstrate the data types. New method:
* `type(value)` - type function takes a value and returns the name of data type
* `primitive data types` - __Strings__, __Integers__, __Floating Points__ and __Booleans__

In [13]:
print("Hello", "is of type ", type("Hello"))
print(12, "is of type", type(12))
print(12.15, "is of type", type(12.5))
print(True, "is of type", type(True))

Hello is of type  <class 'str'>
12 is of type <class 'int'>
12.15 is of type <class 'float'>
True is of type <class 'bool'>

Q1: Why did we put print statements in front of each statement?
Hint: Answer is in note 1.

## Data Types and Variables
Let us take a look at some arithmetic operations and operations on strings. Definitions:
* `# This is a comment in python` - the `#` sign represents a comment in python 
* `a=5` - assignment operation: assign value `5` to variable `a` (equivalent to mathematical `=`)

We are checking the type of resulting value from the statements below.

In [17]:
#int
a1 = 5
a2 = 10

#float
b1 = 5.5
b2 = 1.3

#bool
c1 = True
c2 = False

#str
d1 = "Hello"
d2 = "World"

In [32]:
#let us check the types
a3=a1*a2 #we can peform all arithmetic operations
a3

50

In [33]:
b3=b1*b2
b3

7.15

In [35]:
c3 = c1 and c2
c3

False

In [36]:
d3 = d1+d2 #chain the values
d3

'HelloWorld'

Q2: What are the types of the values produced above? List them.
Try it at home: What if we add `int` type to `float` type or `str` with `float`/`int`/`bool`? What is the type of resulting combination?

## Control Flow

* __input:__ Get data from the “outside world”. This might be reading data from a biological dataset file.
* __output:__ Display the results of the program as a text or machine learning model.
* __sequential execution:__ Perform statements one after another in the order they are encountered in the script as we did before.
* __conditional execution:__ Check for certain conditions and then execute or skip a sequence of statements.
* __repeated execution:__ Perform some set of statements repeatedly, until condition is met or 10 times (execute statement until value of steps reaches 10).
* __reuse:__ Write a set of instructions once and give them a name and then reuse those instructions as needed throughout your program. In our course they are libraries.

It is the best to look at each block of statements using some examples. Defintions:
* `input("Enter a value")` - Jupyter Notebook shows `Enter a value` and waits for the value. Value is of type string.
* `str(1)` - converts `1` to string, can be used interchangebly between the types (e.g. `int("12")`)

In [39]:
# Task 1. 
## User inputs a value in Celsius. Program converts given value to Kelvin.
## The result should be converted to str value.

In [ ]:
# takes input from the screen converts it to int and stores in celsius_input 
celsius_input = int(input("Enter Temperature in Celsius: "))
# assign kelvin to following value
kelvin_output = celsius_input + 273.15
# convert kelvin to String
string_kelvin = str(kelvin_output)
# print the string kelvin
print(string_kelvin)