# Python

This is a little python demo notebook. Outline for the notebook:

* print statement - how do we interact with the terminal
* data types - numerical, logical and strings
* variables - how do we assign and operate on variables
* control flow - conditional statements and loops
* libraries - how do we import and reuse the libraries
* little program examples

## Interaction with the terminal
Jupyter Notebook is one way of creating a medium/an environment between a person and computer - the other is terminal. We concentrate on Jupyter Notebook. In Jupyter Notebook you can switch between code(python code) and markdowns(notes for your code). 
All you have to know is how to speak the Python language.

In [86]:
print("Hello")

Hello

In Jupyter Notebook we can ommit the print statement - it understands us and implicitly executes print statement on a given statement. 

_NOTE 1! By ommitting we also should take into consideration the fact that only the last statement executes!_

In [4]:
"Hello"

'Hello'

What did you notice above? We put 2 `"` marks. Why? Well, data types.

In Python language we have to differentiate the data types. Simplest data types are numerical, logical and strings(strings are the words in our language). Let us switch to code and demonstrate the data types. New method:
* `type(value)` - type function takes a value and returns the name of data type
* `primitive data types` - __Strings__, __Integers__, __Floating Points__ and __Booleans__

In [5]:
print("Hello", "is of type ", type("Hello"))
print(12, "is of type", type(12))
print(12.15, "is of type", type(12.5))
print(True, "is of type", type(True))

Hello is of type  <class 'str'>
12 is of type <class 'int'>
12.15 is of type <class 'float'>
True is of type <class 'bool'>

Q1: Why did we put print statements in front of each statement?
Hint: Answer is in note 1.

## Data Types and Variables
Let us take a look at some arithmetic operations and operations on strings. Definitions:
* `# This is a comment in python` - the `#` sign represents a comment in python 
* `a=5` - assignment operation: assign value `5` to variable `a` (equivalent to mathematical `=`)

We are checking the type of resulting value from the statements below.

In [6]:
#int
a1 = 5
a2 = 10

#float
b1 = 5.5
b2 = 1.3

#bool
c1 = True
c2 = False

#str
d1 = "Hello"
d2 = "World"

In [87]:
#let us check the types
a3=a1*a2 #we can peform all arithmetic operations
a3

50

In [8]:
b3=b1*b2
b3

7.15

In [9]:
c3 = c1 and c2
c3

False

In [10]:
d3 = d1+d2 #chain the values
d3

'HelloWorld'

Q2: What are the types of the values produced above? List them.

`Try it at home: What if we add `int` type to `float` type or `str` with `float`/`int`/`bool`? What is the type of resulting combination?`

## Control Flow

* __input:__ Get data from the “outside world”. This might be reading data from a biological dataset file.
* __output:__ Display the results of the program as a text or machine learning model.
* __sequential execution:__ Perform statements one after another in the order they are encountered in the script as we did before.
* __conditional execution:__ Check for certain conditions and then execute or skip a sequence of statements.
* __repeated execution:__ Perform some set of statements repeatedly, until condition is met or 10 times (execute statement until value of steps reaches 10).
* __reuse:__ Write a set of instructions once and give them a name and then reuse those instructions as needed throughout your program. In our course they are libraries.

> _Python for Informatics, Exploring Information, Charles Severance_

It is the best to look at each block of statements using some examples. Defintions:
* `input("Enter a value")` - Jupyter Notebook shows `Enter a value` and waits for the value. Value is of type string.
* `str(1)` - converts `1` to string, can be used interchangebly between the types (e.g. `int("12")`)

### Sequential execution
__Task 1. Sequential Celsius__ 
* User inputs a value in Celsius.Program converts given value to Kelvin.
* The result should be converted to str value.

In [14]:
# takes input from the screen converts it to int and stores in celsius_input 
celsius_input = int(input("Enter Temperature in Celsius: "))
# assign kelvin to following value
kelvin_output = celsius_input + 273.15
# convert kelvin to String
string_kelvin = str(kelvin_output)
# print the string kelvin
print(string_kelvin,"Kelvin")

Enter Temperature in Celsius: 25
298.15 Kelvin

### Conditional execution
__Task 2. Conditional driver's license__
* User inputs name and age of user. 
* Program greets the user and decides if the user is old enough to get license.
* The result should also say how many years left to take test if threshold age is not met!

In [24]:
# Inputs
name = input("Enter your name: ")
age = int(input("Enter your age: "))
threshold = 19

# Friendly greetings
print("Welcome",name+"\n")

# Conditional statement: age<threshold is a bool value, returns True or False
if age<threshold:
    # Check in how many years the user can start driving
    years_left = threshold - age
    print("Ah sorry",name,"try once again in",years_left,"years!")
else:
    print("Good news",name+"! You are qualified to take the test!")

Enter your name: Fikrat
Enter your age: 26
Welcome Fikrat

Good news Fikrat! You are qualified to take the test!

In [1]:
#TODO: Loops, lists and libraries

__Task 3. Conditional % to score__
* User inputs _name_ and _grade_ in percent. 
* Program converts the grade to german scale(1-5).
* Output also says if user failed or passed.

In [22]:
# Input
name = input("Enter your name:")
grade_percent = int(input("Enter your grade:"))
threshold = 45

grade_german = 0
message = ""

#if condition1 else if condition2 else...
if grade_percent<threshold:
    grade_german = 5.0
    message = "Failed"
elif grade_percent>=45 and grade_percent<55:
    grade_german = 3.7
    message = "sufficient"
elif grade_percent>=55 and grade_percent<65:
    grade_german = 3.3
    message = "satisfactory"
elif grade_percent>=65 and grade_percent<70:
    grade_german = 3.0
    message = "satisfactory"
elif grade_percent>=70 and grade_percent<75:
    grade_german = 2.7
    message = "satisfactory"
elif grade_percent>=75 and grade_percent<80:
    grade_german = 2.3
    message = "good"
elif grade_percent>=80 and grade_percent<85:
    grade_german = 2.0
    message = "good"
elif grade_percent>=85 and grade_percent<90:
    grade_german = 1.7
    message = "good"
elif grade_percent>=90 and grade_percent<95:
    grade_german = 1.3
    message = "very good"
else:
    grade_german = 1.0
    message = "very good"
    
print("Your grade is",grade_german,message)

Enter your name:Johny
Enter your grade:74
Your grade is 2.7 satisfactory

To conclude:
* `if` statements - are used for conditional statements
    * there must be a condition after if (`bool` type value)
    * `elif` - translates into else if - normally used when more than 2 cases
    * `and` - first condition `and` second condition both must be `True`
    * `or` - one of two conditiond must be true or both
    * `else` - everything else
* conversion between the values is necessary but be careful!
    * if user enters `str` value for age
    * we are forcing it to convert to `int`
    * `ValueError: invalid literal for int() with base 10: 'd'`
    * in human language we stumble upon an error
    
__Try it at home: Username and password__
* User enters username and password. Let username be your First Name and password your Last Name
* If user enters correct values => print connected. Else could not connect.

NOTE: We do not handle usernames and passwords that way in real world. Far sophisticated algorithms for encryption are used. The example is designed only for exercise purposes.

### Repeated execution and Lists
Now suppose we want to ask user to input multiple localization sites and print them, e.g. 3? Well one way is straight forward:
* ` \n ` - means new line, can write anywhere(just make sure it is written exactly like indicated)

In [30]:
name1 = input("Enter site: ")
name2 = input("Enter site: ")
name3 = input("Enter site: ")

print("\nLocalization sites are: "+"\n------------------\n"+name1+'\n'+name2 + '\n'+name3)

Enter site: cytoplasm
Enter site: inner membrane
Enter site: perisplasm
Localization sites are:
------------------
cytoplasm
inner membrane
perisplasm

What if we have complicated scenario where user needs to specify the quantity of sites? We have a data type called __`list`__ and a statement called __`for`__ loop.

### Lists and Loops
Subsequent codelines will teach us a bit about lists and for loops and after that we will jump into tasks.

In [92]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# index of 'e' in vowels
index = vowels.index('e')
print('The index of e:', index)

# element 'i' is searched
# index of the first 'i' is returned
index = vowels.index('i')

print('The index of i:', index)

The index of e: 1
The index of i: 2

In [93]:
# remove first occurence of i
vowels.remove("i")

# Let us print the vowels one in a line
# One way to print all the vowels is as follows

# loop through list of vowels 
# print each vowel
for vowel in vowels:
    print(vowel)

a
e
o
i
u

In [94]:
print("Updated vowels:",vowels)
print("Length of vowels:",len(vowels))

Updated vowels: ['a', 'e', 'o', 'i', 'u']
Length of vowels: 5

List is a non-primitive data type and has methods like we used before in the code.

`Try it at home: Find some other methods for lists and try to use them, e.g. vowels.count("e").` Here is a useful [link](https://www.programiz.com/python-programming/methods/list/index).

__Task 4. More than 3 Localization Sites.__
* User inputs _quantity_ of sites and names of sites one by one.
* Program prints them in a special format.

`Localization Sites:
    site1
    site2
    site3
`

In [51]:
number_of_sites = int(input("Enter number of sites: "))

# create empty list
sites = []

# loop from 0 to number_of_sites
for i in range(0,number_of_sites):
    site = input("Enter site: ")
    sites.append(site)

print("\nLocalization Sites:")

print("--------------------")

# loop over sites
for site in sites:
    print("    "+site)

Enter number of sites: 3
Enter site: cp
Enter site: mb
Enter site: imL

Localization Sites:
--------------------
    cp
    mb
    imL

Definition and intuition:
* `for i in range(0,10):`
    * assign `i` to 0
    * increment by 1 (`i=i+1`)
    * until `i` reaches 10 (`i<10`)
    * do something after `:`
* `for site in sites:`
    * take values from `sites` one-by-one
    * assign them to `site`

### Reuse - ML libraries introduction

In machine learning the data is oftentimes given as a csv, txt or other type of file. Experts oftentimes tackle these problems by creating the libraries, that contain modules and we - programmers are using/importing those libraries. So how do we reuse the modules?

First we install the module using pip/pip3 system - python's library installer. Afterwards, we simply import those libraries. Let us look at the examples.

In [72]:
import numpy as np
from pandas import DataFrame
import pandas as pd

Definitions(revisited):
* methods/functions - by invoking them(calling) you are expecting certain behavior
    * `print(argument)` - function _print_ takes _argument_ of type _str_(or implicitly converts any other type to str)
* `DataFrame()` - non-primitive data type(provided by `pandas`), if the data type is provided by another library we must import it
    * the process of `df = DataFrame(arguments)` is called initialization
    * according to [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) DataFrame takes 5 arguments during initialization

* __But as biologists we need to remember 2 arguments! `data` and `columns` - for assigning the names of columns!__
    * E.g. `df = DataFrame(data=["cp","mb","imL"],columns=["Sites"])` 
    * assign df to value of type  DataFrame
    * with arguments data and columns where
        * `data` is of type `list`
        * `columns` is of type `list`
* __Even more important method is going to be `read_csv(filename, column_names)`__

In [84]:
# create a DataFrame
df = DataFrame(data=sites, columns=["Sites"])
df

  Sites
0    cp
1    mb
2   imL

In [69]:
# 2D list
users = [["Johny",23,"Master Student"],
         ["Michael",24,"Master Student"],
         ["Fikrat",26,"Phd Student"]]
#column names for dataframe
cols = ["Name","Age","Enrolled as"]
# create dataframe from users
df = DataFrame(data = users, columns=cols)
df

      Name  Age     Enrolled as
0    Johny   23  Master Student
1  Michael   24  Master Student
2   Fikrat   26     Phd Student

In [70]:
type(df)

pandas.core.frame.DataFrame

In [78]:
# Another way of creating DataFrame from csv file
df_iris = pd.read_csv("datasets/iris.csv", names = ["Sepal Length","Sepal Width","Petal Length","Petal Width", "Class"])
df_iris

     Sepal Length  Sepal Width  Petal Length  Petal Width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

You can also load specific function from a given library. E.g.:

In [79]:
from pandas import read_csv

In [83]:
# create variable filename
filename = "datasets/iris.csv"
df_iris = read_csv(filename,names = ["Sepal Length","Sepal Width","Petal Length","Petal Width", "Class"])
df_iris

     Sepal Length  Sepal Width  Petal Length  Petal Width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [85]:
# iris dataframe is continued in the next ipynb notebook

### Tasks to try at home - Optional:
* __Task 5. Animals listed in a dataframe:__
    * User inputs the quantity of animals and based on that enter animal species one by one.
    * Program then saves the entered values in the list and converts it into dataframe.
    * Output should like the dataframe above.

* __Task 6*. Challenging task - 2D user dataframe.__
    * User inputs quantity of users and based on the quantity enter Names, Age and Matrikelnummer.
    * Program then saves the entered values into the list and converts it into dataframe.
    * Output should look like 2D list section of DataFrame introduction.